body {
  background: linear-gradient(90deg, #0a0c0a, var(--darkgray), #0a0c0a);
}

.cards-container {
  height: 100vh;
}
.characterCard {
  cursor: pointer;
  display: flex;
  align-items: left;
  align-content: left;
  margin: 3em auto;
  padding: 20px;
  border-radius: 50px;
  background: linear-gradient(180deg, var(--lightgreen), var(--picklegreen));
  max-width: 650px;
  max-height: 200px;
  box-shadow: 1px 1px 1px 7px rgb(0, 91, 0);
}
.card__image {
  height: 10em;
  width: 10em;
  flex: 1 1 1 120px;
  border-radius: 20px;
  box-shadow: 3px 3px 20px black;
}

.card__text {
  display: flex;
  flex-direction: column;
  font-family: Koulen;
  color: var(--creme);
  font-size: 1.5em;
  text-shadow: 2px 2px 7px black;
}

.card__flex {
  display: flex;
  flex-direction: row;
}

.speciesLabel {
  margin-left: 4px;
}

.characterCard:hover {
  animation: glowy 1s ease-in-out infinite alternate;
}

@keyframes glowy {
  from {
    box-shadow: 0 0 7px var(--lightgreen), 0 0 10px var(--picklegreen),
      0 0 21px var(--lightgreen);
  }
  to {
    box-shadow: 0 0 10px var(--lightgreen), 0 0 20px var(--lightgreen),
      0 0 30px var(--picklegreen), 0 0 40px var(--picklegreen),
      0 0 10px var(--picklegreen);
  }
}
