h1 {
  font-family: Creepster;
  font-size: 4em;
  text-align: center;
  border-radius: 2px;
  color: var(--lightblue);
  position: absolute;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

h2 {
  font-family: Creepster;
  font-size: 4.1em;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: glow 1s ease-in-out infinite alternate;
  z-index: -1;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px var(--lightgreen), 0 0 20px var(--lightgreen),
      0 0 30px var(--picklegreen), 0 0 40px var(--picklegreen),
      0 0 10px var(--picklegreen);
  }
  to {
    text-shadow: 0 0 7px var(--lightgreen), 0 0 10px var(--picklegreen),
      0 0 21px var(--lightgreen);
  }
}
